body {
    background: #f2f2f2;  
    font-family: 'Cambay', sans-serif;
}
.navbar {
    background: linear-gradient(to bottom, #2c3e50, #1a2836);
}

.nav-link {
    padding: 5px 10px;
    background: #2c3e50;
    color: white !important;
    font-weight: 600;
}
.nav-link:hover {
    color: #bbbbbb !important;
} 
.card, .show-contact {
    background: #ececec;  
}
.show-contact:hover {
    background: #e4e4e4;
}
.card-header {
    background: #1a2836;
    color: white;
}

.btn:hover {
    background: #2c3e50;
    color: white;
}
.brand-logo {
    font-size: 1.5rem;
}
.about {
    font-size: .8rem;
}